@use "../abstracts/variables" as vars;

.features {
    display: flex;
    margin-bottom: 4rem;
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: vars.$color-bg;
        .features__item {
            display: flex;
            flex-direction: column; 
            align-items: center;
            padding: 2rem;
        }

        .features__icon {
            margin-bottom: 1rem;
        }
        
        .features__text {
            font-family: "SF Pro Display", sans-serif;
            font-weight: 500;
            font-size: vars.$font-size-base;
            line-height: 1.04563;
            text-align: center;
            color: #565656;
        }
        
    }

    &__block {
        padding-top: 3.3rem;
        width: 100%;
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
                    url('../images/features/features-bg.jpg') no-repeat center / cover;
    }
    &__title {
        font-family: vars.$font-base;
        font-weight: 700;
        font-size: vars.$font-size-large;
        color: vars.$color-text-light;
        text-align: center;
    }
}
